USE [master]
GO
/****** Object:  Database [StudentInfoDB]    Script Date: 17-Feb-24 10:53:15 AM ******/
CREATE DATABASE [StudentInfoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentInfoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentInfoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentInfoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StudentInfoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentInfoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentInfoDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 17-Feb-24 10:53:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DOB] [varchar](20) NULL,
	[Gender] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO

use StudentInfoDB
Alter Table dbo.Student
Add Picture varchar(200); 

use StudentInfoDB
ALTER TABLE dbo.Student
ALTER COLUMN DOB varchar(70) NULL;